body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: rgb(200,200,200);
  margin: 0;
}

.navbar {
  color: white;
  background-color: rgb(76, 89, 118);
  width: 500px;
  margin: 0px auto;
}

.logo{
  padding: 5px 0px;
  width: 100px;
  text-align: center;
  font-size: 26px;
  margin-bottom: 10px;
}

.logo:hover {
  background-color: rgb(105, 206, 149);
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  width: 100px;
  text-indent: 10px;
  margin: 0;
  padding: 5px 0;
}

#nav1:hover {background-color: rgb(105, 206, 149);}
#nav2:hover {background-color: rgb(142, 223, 122);}
#nav3:hover {background-color: rgb(195, 230, 98);}
#nav4:hover {background-color: rgb(226, 235, 90);}

.topbox {
  position: fixed;
  top:0;
}
.box {
  width: 100px;
  height: 4px;
  float: left;
}

#t1 {background-color: rgb(105, 206, 149);}
#t2 {background-color: rgb(142, 223, 122);}
#t3 {background-color: rgb(195, 230, 98);}
#t4 {background-color: rgb(226, 235, 90);}
#t5 {background-color: rgb(300, 300, 300);}

.background-tiles {
  position: fixed;
  top:0;
  display: none;
}

#m1 {background-color: rgb(105, 206, 149); width:100px; height: 28px; float: left;}
#m2 {background-color: rgb(142, 223, 122); width:100px; height: 28px; float: left;}
#m3 {background-color: rgb(195, 230, 98); width:100px; height: 28px; float: left;}
#m4 {background-color: rgb(226, 235, 90); width:100px; height: 28px; float: left;}
#m5 {background-color: rgb(300, 300, 300); width:100px; height: 28px; float: left;}


a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.fixed {
  position: fixed;
  top:0;
}

.extended {
  margin-bottom: 58px;
}

.page-body {
 margin: 0 10px; 
}
