nav {
  display: flex;
  justify-content: space-between;
  border-bottom: solid #fff;

  > span {
    > a {
      font-size: 1.75rem;
      font-weight: 600;
      color: #fff;

      @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
      }

      &.current,
      &:hover {
        color: $blue-light;
      }

      &:not(:first-child) {
        margin-left: 1.5rem;
        @include media-breakpoint-down(xs) {
          font-size: 1.5rem;
          margin-left: 1rem;
        }
      }
    }
  }
}
