/*General*/

* {
	-webkit-appearance: none !important;
}

body {
	margin: 0;
	font-family: Helvetica Light, Helvetica, Arial, sans-serif;
	font-weight: ;
}

p {
	font-size: 14px;
	text-align: center;
	margin: 1px;
}


/*Main Components*/

.background {
	z-index: -1;
	position: absolute;
	padding: 0;
    height: 400px;
    width: 100%;
    background-color: rgb(63, 42, 86);
    top: 0px;
}

.heading {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 125px;
	width: 500px;
}

.sub-heading {
	margin-top: 20px;
	color: white;
	text-transform: uppercase;
}



#sub-heading-text {
	font-size: 14px;
	letter-spacing: 0.2em;
}
.sub-heading-two {
	margin-top: 50px;
	color: white;
	line-height: 1.2;
}

.sub-heading-three {
	margin-top: 150px;
	color: rgb(63, 42, 86);
}

.logo {
	display: block;
	margin: 30px auto;
	width: 100px;
}

.footer {
	padding-top: 30px;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
	color: rgb(63, 42, 86);
}

/*Button to Email Input*/

.button {
	z-index: 10;
	-webkit-appearance: none !important;
	border: 0.05rem solid rgb(63, 42, 86);
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 10rem;
	height: 2.2rem;
	transition: background-color 0.2s;
	transition: width 0.2s ease-in-out;
	color: rgb(63, 42, 86);
}

.button:hover {
	color: white;
	background-color: rgb(63, 42, 86);
	cursor: pointer;
}

.button.input {
	z-index: -1;
	background-color: white;
	cursor: default;
	width: 15.6rem;
}

input.email#emailid {
	z-index: 1;
	border-radius: 0rem !important;
	-webkit-appearance: none !important;
	background-color: transparent !important;
	display: inline-block;
	float: left;
	margin-left: 0.05rem;
	margin-top: 0.05rem;
	width: 10rem;
	height: 1.8rem;
	border: 0;
	outline: none;
	padding-left: 0.3rem;
	font-size: 14px;
	color: rgb(63, 42, 86);
}

.submit#submitid {
	z-index: 1;
	border-radius: 0rem !important;
	-webkit-appearance: none !important;
	color: rgb(63, 42, 86);
	display: inline-block;
	float: right;
	border: none;
	font-size: 14px;
	border-left: 0.05rem solid rgb(63, 42, 86);
	width: 3.6rem;
	height: 2.2rem;
	text-align: center !important;
	line-height: 1.75rem;
	transition: background-color 0.2s ;
	background-color: transparent;
}

.submit#submitid:hover {
	color: white;
	background-color: rgb(63, 42, 86);
	cursor: pointer;
}

/*Dynamic Formatting*/

@media screen and (min-width: 1200px) {
	.heading {
		width: 600px;
		margin-top: 120px;
	}
}

@media screen and (max-width: 600px) {
  .heading {
    width: 300px;
    margin-top: 100px
  }
  .sub-heading {
  	width: 300px;
  	margin-left: auto;
  	margin-right: auto;
  }
  .background {
  	height: 350px;
  }
  .sub-heading-three {
  	margin-top: 125px;
  }
  .logo {
  	width: 75px;
  }
}

@media screen and (max-width: 320px) {
	.heading {
		margin-top: 50px;
		width: 250px;
	}
	.background {
		height: 260px;
	}
	.sub-heading-three {
		margin-top: 75px;
	}
}

/*Minor Formatting*/

.button.touch {
	transition-property: background-color none !important;
}

.submit.touch {
	transition-property: background-color none !important;
}


a {
	text-decoration: none;
	color: rgb(63, 42, 86);
}

.button-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 2.3 ;
}

.dot {
	color: rgb(242, 241, 249);
}

input[type="submit"],
input[type="button"] {
  -webkit-appearance: none !important;}