$white: #ffffff;
$black: #000000;

$blue: #4762ff;
$blue-light: #6e84ff;

$grey-main: #bbbbbb;
$grey-background: #484848;
$grey-selected: #c7c7c7;

// Dependencies
@import "./styles/bootstrap/scss/bootstrap.scss";

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-delay {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: $grey-background;
  margin: 0;
  color: white;
}

b {
  color: $blue-light;
}

p {
  font-size: 1.2rem;
  margin-bottom: 0;
  a {
    color: inherit;
    border-bottom: 0.25rem solid $blue-light;
    transition: color 0.3s;
    &:hover {
      text-decoration: none;
      color: $blue-light;
      transition: color 0.3s;
    }
  }
}

ul {
  margin-top: 5px;
}

li {
  font-size: 1.2rem;
}

// Pages
@import "./styles/pages/Homepage";
